.catalog
    .catalog__row.catalog__row_first
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Долота PDC
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Бурголовки PDC
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Бицентричные долота PDC
        .col-md-3.col-xs-12
            .catalog__item.redundant-item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Твердосплавные долота
    .catalog__row
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Подвески «хвостовиков»
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Оборудование для отбора керна
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Калибраторы и центраторы
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Клапаны для ВЗД
    .catalog__row
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Оборудование для цементирования скважин
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Технологическая оснастка обсадных колонн
        .col-md-3.col-xs-12
            .catalog__item
                .catalog__item-pic
                    .catalog__item-shadow
                    .catalog__item-background
                .catalog__item-title
                    a Вспомогательное оборудование
    .button.catalog__all-item Весь каталог