.contacts
    .contacts__phone
        .contacts__tip Телефон\факс:
        .contacts__number (3412) 48-32-98
    .contacts__email
        .contacts__tip e-mail:
        .contacts__adress
            a.contacts__email-link(href="#") bit@udol.ru