footer.footer
    .page-container
        .footer__container
            .actions.footer__item
                a.actions__site-map.link Карта сайта
                    .line
                a.actions__feedback.link Написать нам
                    .line
            .site-owner.footer__item © 2012 СП ЗАО «УДОЛ»
                .producer-tag Создание сайта — компания «Picom»
            .statistic.footer__item
                .statistic__day
                .statistic__alltime