header.header
    .header__container
        .header__mobile-container
            .header__logo
                .logo
            .burger
                .burger__line
        .header__subcontainer
            .header__contacts
                include contacts
            .header__form
    .header__menu
        include menu