.info
    .info__left
        .info__title О компании
        .info__top
            p.info__text.
                Совместное предприятие "Удмуртские долота" (СП ЗАО "УДОЛ")
                организованое в 1996 году компаниями "Diamond Products International, Inc." (США),
                ОАО "Удмуртнефть" и ГПО "Воткинский завод" (Россия), производит высококачественное
                буровое оборудование, применяя передовые технологии, накопленный опыт
                и знания с целью повышения эффективности работы буровых и сервисных компаний.
        .info__bottom
            p.info__ul-title.info__text.
                На сегодняшний день нашим предприятием разработаны и выпускаются:
            ul.info__ul.info__text
                li.info__li.
                    долота PDC для бурения вертикальных,
                    наклонно-направленных и горизонтальных скважин;
                li.info__li.
                    бурильные головки PDC;
                li.info__li.
                    бицентричные долота PDC;
                li.info__li.
                    твердосплавные долота для разбуривания цементных стаканов и оснастки;
                li.info__li.
                    калибраторы, центраторы и стабилизаторы спиральные и прямолопастные;
                li.info__li.
                    керноотборные снаряды и кернорватели;
                li.info__li.
                    оборудование для подвески «хвостовиков»;
                li.info__li.
                    оборудование для цементирования: пакеры гидравлические и гидромеханические,
                    муфты ступенчатого цементирования;
                li.info__li.
                    оснастка обсадных колонн: центраторы, турбулизаторы,
                    клапаны обратные и башмаки колонные;
                li.info__li.
                    клапаны для ВЗД перепускные и обратные.
    .info__right
        .news
            .news__title Новости
            .news__container
                .news__item.news__item_first
                    .news__date 28 марта
                    .news__content.
                        СП ЗАО «УДОЛ» сегодня - это динамично развивающаяся современная компания,
                         зарекомендовавшая себя как надежный поставщик
                .news__item
                    .news__date 20 марта
                    .news__content.
                        Стремлением к постоянному совершенствованию производимого оборудования,
                         расширением ассортимента
                .news__item
                    .news__date 17 марта
                    .news__content.
                        На сегодняшний день нашим предприятием разработаны и выпускаются

        .attestation
            .attestation__container.button
                .attestation__pic-container
                    .attestation__pic
                .attestation__text Сертификаты