form.login-and-search
    .authorization
        a.registration(href="#") Регистрация
        .login.button
            .login__arrow
            .login__text Вход
    input.search(type="text" placeholder="Поиск")