nav.menu
    a(href="#").menu__item.menu__item_first О компании
    a(href="#").menu__item Инженерное сопровождение
    a(href="#").menu__item Сертификаты
    a(href="#").menu__item Новости
    a(href="#").menu__item Техническая информация
    a(href="#").menu__item.menu__item_last Контакты