.mobile-contacts
    .mobile-contacts__phone
        .mobile-contacts__tip Телефон\факс:
        .mobile-contacts__number (3412) 48-32-98
    .mobile-contacts__email
        .mobile-contacts__tip e-mail:
        .mobile-contacts__adress
            a.mobile-contacts__email-link(href="#") bit@udol.ru