.modal
    .modal__container
        .modal__header Зарегистрироваться
        form.modal__registration
            input(type="text" placeholder="Имя").modal__input.modal__input_name
            input(type="text" placeholder="Телефон").modal__input.modal__input_phone
        .modal__button.button Регистрация