.slider__arrow.slider__arrow_prev
.slider__arrow.slider__arrow_next
.slider
    div
        .slider__slide
            .slider__content
                .slider__text
                    .slider__title Долота серии ST
                    .slider__discription.
                        Долота PDC серии ST предназначены для бурения сплошным
                        вертикальных, наклонно-направленных и горизонтальных скважин.
                    .slider__pic
                    .slider__pic_shadow
    div
        .slider__slide
            .slider__content
                .slider__text
                    .slider__title Долота серии ST
                    .slider__discription.
                        Долота PDC серии ST предназначены для бурения сплошным
                        вертикальных, наклонно-направленных и горизонтальных скважин.
                    .slider__pic
                    .slider__pic_shadow