@media (max-width: 480px)
  .catalog__all-item
    width 170px
    height 35px
    margin 0 auto
    display flex
    justify-content center
    align-items center
    font-family "Roboto Regular"
    color #ffffff
    font-size 12px
    border-radius 5px

  .catalog
    padding 40px 60px 30px 30px
    &__row
      flex-direction column
      display none
      &_first
        display flex