@media (max-width: 480px)
  .footer
    height auto
    padding 40px 30px 10px
    &__container
      flex-direction column
    &__item
      margin-bottom 30px

  .actions__site-map
    font-size 14px
    margin-right 20px
  .actions__feedback
    font-size 14px !important
