@media (max-width: 480px)
  .header__logo
    display inline-block
    width 106px
    height 31px
  .header__container
    display block
    padding 30px
    margin-top 0
  .header__subcontainer
    display block
  .header__mobile-container
    display flex
    justify-content space-between
    align-items center
    margin-bottom 20px
  .header__menu
    margin-top 20px
  .header__contacts
    display none