@import "desktop/avars.styl"

@media (max-width: 480px)

  .redundant-item
    display none

  .menu
    display none

  .authorization
    display none

  .page-container
    width 100%

  .col-xs-12
    width 100%

