@media (max-width: 480px)
  .slider
      &__slide
        height 400px
        padding 30px
        align-items flex-start
      &__content
        padding 0
      &__text
        width auto
      &__title
        font-size 24px
      &__discription
        font-size 12px
      &__arrow
        width 0
        height 0
      &__pic
        top 40%
        left 20%