doctype html
html(lang="ru-RU")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet" href="css/style.css")
        link(rel="stylesheet" href="css/fonts.css")
        link(rel="stylesheet" type="text/css" href="slick/slick.css")
    body
        .darkness
        .modal
            .modal__container
                .modal__header Зарегистрироваться
                form.modal__registration
                    input(type="text" placeholder="Имя").modal__input.modal__input_name
                    input(type="text" placeholder="Телефон").modal__input.modal__input_phone
                .modal__button Регистрация
        .page-block
            .page-container
                header.header
                    .header__container
                        .header__logo
                            .logo
                        .header__subcontainer
                            .header__contacts
                                .contacts
                                    .contacts__phone
                                        .contacts__tip Телефон\факс:
                                        .contacts__number (3412) 48-32-98
                                    .contacts__email
                                        .contacts__tip e-mail:
                                        .contacts__adress
                                            a.contacts__email-link(href="#") bit@udol.ru
                            .header__form
                            form.login-and-search
                                .authorization
                                    a.registration(href="#") Регистрация
                                    .login
                                        .login__arrow
                                        .login__text Вход
                                input.search(type="text" placeholder="Поиск")
                    .header__menu
                        .menu
                            .menu__item.menu__item_first О компании
                            .menu__item Инженерное сопровождение
                            .menu__item Сертификаты
                            .menu__item Новости
                            .menu__item Техническая информация
                            .menu__item.menu__item_last Контакты
        .page-block.slider-block
            .page-container
                .slider__arrow.slider__arrow_prev
                .slider__arrow.slider__arrow_next
                .slider
                    div
                        .slider__slide
                            .slider__content
                                .slider__text
                                    .slider__title Долота серии ST
                                    .slider__discription.
                                        Долота PDC серии ST предназначены для бурения сплошным
                                        вертикальных, наклонно-направленных и горизонтальных скважин.
                                    .slider__pic
                                    .slider__pic_shadow
                    div
                        .slider__slide
                            .slider__content
                                .slider__text
                                    .slider__title Долота серии ST
                                    .slider__discription.
                                        Долота PDC серии ST предназначены для бурения сплошным
                                        вертикальных, наклонно-направленных и горизонтальных скважин.
                                    .slider__pic
                                    .slider__pic_shadow


        .page-block.catalog-block
            .page-container
                .catalog
                    .catalog__row
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Долота PDC
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Бурголовки PDC
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Бицентричные долота PDC
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Твердосплавные долота
                    .catalog__row
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Подвески «хвостовиков»
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Оборудование для отбора керна
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Калибраторы и центраторы
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Клапаны для ВЗД
                    .catalog__row
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Оборудование для цементирования скважин
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Технологическая оснастка обсадных колонн
                        .catalog__item.col-md-3.col-xs-12
                            .catalog__item-pic
                                .catalog__item-shadow
                                .catalog__item-background
                            .catalog__item-title
                                a Вспомогательное оборудование
        .page-block.info-block
            .page-container
                .info
                    .info__left
                        .info__title О компании
                        .info__top
                            .info__text.
                                Совместное предприятие "Удмуртские долота" (СП ЗАО "УДОЛ")
                                организованое в 1996 году компаниями "Diamond Products International, Inc." (США),
                                ОАО "Удмуртнефть" и ГПО "Воткинский завод" (Россия), производит высококачественное
                                буровое оборудование, применяя передовые технологии, накопленный опыт
                                и знания с целью повышения эффективности работы буровых и сервисных компаний.
                        .info__bottom
                            .info__ul-title.info__text.
                                На сегодняшний день нашим предприятием разработаны и выпускаются:
                            ul.info__ul.info__text
                                li.info__li.
                                    долота PDC для бурения вертикальных,
                                    наклонно-направленных и горизонтальных скважин;
                                li.info__li.
                                    бурильные головки PDC;
                                li.info__li.
                                    бицентричные долота PDC;
                                li.info__li.
                                    твердосплавные долота для разбуривания цементных стаканов и оснастки;
                                li.info__li.
                                    калибраторы, центраторы и стабилизаторы спиральные и прямолопастные;
                                li.info__li.
                                    керноотборные снаряды и кернорватели;
                                li.info__li.
                                    оборудование для подвески «хвостовиков»;
                                li.info__li.
                                    оборудование для цементирования: пакеры гидравлические и гидромеханические,
                                    муфты ступенчатого цементирования;
                                li.info__li.
                                    оснастка обсадных колонн: центраторы, турбулизаторы,
                                    клапаны обратные и башмаки колонные;
                                li.info__li.
                                    клапаны для ВЗД перепускные и обратные.
                    .info__right
                        .news
                            .news__title Новости
                            .news__container
                                .news__item.news__item_first
                                    .news__date 28 марта
                                    .news__content.
                                        СП ЗАО «УДОЛ» сегодня - это динамично развивающаяся современная компания,
                                         зарекомендовавшая себя как надежный поставщик
                                .news__item
                                    .news__date 20 марта
                                    .news__content.
                                        Стремлением к постоянному совершенствованию производимого оборудования,
                                         расширением ассортимента
                                .news__item
                                    .news__date 17 марта
                                    .news__content.
                                        На сегодняшний день нашим предприятием разработаны и выпускаются

                        .attestation
                            .attestation__container
                                .attestation__pic-container
                                    .attestation__pic
                                .attestation__text Сертификаты

        footer.footer
            .page-container
                .footer__container
                    .actions
                        .actions__site-map Карта сайта
                        .actions__feedback Написать Нам
                    .site-owner © 2012 СП ЗАО «УДОЛ»
                        .producer-tag Создание сайта — компания «Picom»
                    .statistic
                        .statistic__day
                        .statistic__alltime


    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="slick/slick.min.js")
    script(src="js/script.js")