doctype html
html(lang="ru-RU")
    head
        title UDOL
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" type="text/css" href="slick/slick.css")
        link(rel="stylesheet" href="build/css/style.css")
        //link(rel="stylesheet" href="css/responsive.css")
        link(rel="stylesheet" href="build/css/fonts.css")
    body
        .darkness
        .modal
            .modal__container
                .modal__header Зарегистрироваться
                form.modal__registration
                    input(type="text" placeholder="Имя").modal__input.modal__input_name
                    input(type="text" placeholder="Телефон").modal__input.modal__input_phone
                .modal__button.button Регистрация
        section.page-block
            .page-container
                include includes/header
        section.page-block.slider-block
            .page-container
                include includes/slider
        section.page-block.catalog-block
            .page-container
                .catalog
                    .catalog__row.catalog__row_first
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Долота PDC
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Бурголовки PDC
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Бицентричные долота PDC
                        .col-md-3.col-xs-12
                            .catalog__item.redundant-item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Твердосплавные долота
                    .catalog__row
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Подвески «хвостовиков»
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Оборудование для отбора керна
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Калибраторы и центраторы
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Клапаны для ВЗД
                    .catalog__row
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Оборудование для цементирования скважин
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Технологическая оснастка обсадных колонн
                        .col-md-3.col-xs-12
                            .catalog__item
                                .catalog__item-pic
                                    .catalog__item-shadow
                                    .catalog__item-background
                                .catalog__item-title
                                    a Вспомогательное оборудование
                    .button.catalog__all-item Весь каталог
        section.page-block.info-block
            .page-container
                .info
                    .info__left
                        .info__title О компании
                        .info__top
                            p.info__text.
                                Совместное предприятие "Удмуртские долота" (СП ЗАО "УДОЛ")
                                организованое в 1996 году компаниями "Diamond Products International, Inc." (США),
                                ОАО "Удмуртнефть" и ГПО "Воткинский завод" (Россия), производит высококачественное
                                буровое оборудование, применяя передовые технологии, накопленный опыт
                                и знания с целью повышения эффективности работы буровых и сервисных компаний.
                        .info__bottom
                            p.info__ul-title.info__text.
                                На сегодняшний день нашим предприятием разработаны и выпускаются:
                            ul.info__ul.info__text
                                li.info__li.
                                    долота PDC для бурения вертикальных,
                                    наклонно-направленных и горизонтальных скважин;
                                li.info__li.
                                    бурильные головки PDC;
                                li.info__li.
                                    бицентричные долота PDC;
                                li.info__li.
                                    твердосплавные долота для разбуривания цементных стаканов и оснастки;
                                li.info__li.
                                    калибраторы, центраторы и стабилизаторы спиральные и прямолопастные;
                                li.info__li.
                                    керноотборные снаряды и кернорватели;
                                li.info__li.
                                    оборудование для подвески «хвостовиков»;
                                li.info__li.
                                    оборудование для цементирования: пакеры гидравлические и гидромеханические,
                                    муфты ступенчатого цементирования;
                                li.info__li.
                                    оснастка обсадных колонн: центраторы, турбулизаторы,
                                    клапаны обратные и башмаки колонные;
                                li.info__li.
                                    клапаны для ВЗД перепускные и обратные.
                    .info__right
                        .news
                            .news__title Новости
                            .news__container
                                .news__item.news__item_first
                                    .news__date 28 марта
                                    .news__content.
                                        СП ЗАО «УДОЛ» сегодня - это динамично развивающаяся современная компания,
                                         зарекомендовавшая себя как надежный поставщик
                                .news__item
                                    .news__date 20 марта
                                    .news__content.
                                        Стремлением к постоянному совершенствованию производимого оборудования,
                                         расширением ассортимента
                                .news__item
                                    .news__date 17 марта
                                    .news__content.
                                        На сегодняшний день нашим предприятием разработаны и выпускаются

                        .attestation
                            .attestation__container.button
                                .attestation__pic-container
                                    .attestation__pic
                                .attestation__text Сертификаты
        include includes/footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="slick/slick.min.js")
    script(src="js/script.js")