doctype html
html(lang="ru-RU")
    head
        title UDOL
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width")
        link(rel="stylesheet" type="text/css" href="slick/slick.css")
        link(rel="stylesheet" href="build/css/style.css")
        //link(rel="stylesheet" href="css/responsive.css")
        link(rel="stylesheet" href="build/css/fonts.css")
    body
        .darkness
        include includes/modal
        section.page-block
            .page-container
                include includes/mobileMenu
                include includes/header
        section.page-block.slider-block
            .page-container
                include includes/slider
        section.page-block.catalog-block
            .page-container
                include includes/catalog
        section.page-block.info-block
            .page-container
                include includes/info
        include includes/footer

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(type="text/javascript" src="slick/slick.min.js")
    script(src="js/script.js")