@require "avars.styl"
.header
  &__logo
    width 230px
    height 65px
  &__mobile-container
    flex 1
  &__container
    margin-top 40px
    display flex
    justify-content space-between
    align-items center
  &__subcontainer
    flex 2
    display inline-flex
    justify-content space-between
    align-items center
  &__menu
    margin-top 28px

