@require "desktop/avars.styl"
.slider
  height 100%
  padding 0
  &__arrow
    height 80px
    width 40px
    position absolute
    top calc(50% - 40px)
    opacity 0.2
    z-index 10
    transition 200ms
    &:active
      height 60px
      width 30px
      top calc(50% - 30px)
      opacity 1
    &:hover
      opacity 1
    &_prev
      left 0
      &::after
        content ''
        position absolute
        top 51%
        left 0
        height 2px
        width 100%
        background-color white
        transform-origin left
        transform rotate(45deg)
      &::before
        content ''
        position absolute
        top 51%
        left 0
        height 2px
        width 100%
        background-color white
        transform-origin left
        transform rotate(-45deg)
    &_next
      right 0
      &::after
        content ''
        position absolute
        top 51%
        left 0
        height 2px
        width 100%
        background-color white
        transform-origin right
        transform rotate(45deg)
      &::before
        content ''
        position absolute
        top 51%
        left 0
        height 2px
        width 100%
        background-color white
        transform-origin right
        transform rotate(-45deg)
  &__slide
    height 240px
    display flex
    justify-content space-between
    align-items center
    position relative
    overflow hidden
  &__content
    padding 0 422px 0 88px
  &__text
    width 450px
  &__title
    display inline-block
    padding-bottom 12px
    color #ffffff
    font-family "Roboto Bold"
    font-size 30px
    text-transform uppercase
    border-bottom 1px solid #ffffff
  &__discription
    padding-top 16px
    color #ffffff
    font-family "Roboto Regular"
    font-size 18px
  &__pic
    height 350px
    width 210px
    position absolute
    top 27px
    right 146px
    background-size contain
    background-repeat no-repeat
    background-image url("../../../res/image/drill.png")
    z-index 1
    &_shadow
      position absolute
      top 50%
      right 200px
      width 11px
      height 100%
      background-color rgba(0, 0, 0, 0.4)
      box-shadow 0 0 80px 60px rgba(0, 0, 0, 0.7)
      border-radius 100%