header.header
    .mobile-menu.mobile-menu_hidden
        .mobile__authorization
            .mobile__registration Регистрация
            .mobile__login.button
                .mobile__login-arrow
                .mobile__login-text Вход
        nav.menu
            a(href="#").menu__item.menu__item_first О компании
            a(href="#").menu__item Инженерное сопровождение
            a(href="#").menu__item Сертификаты
            a(href="#").menu__item Новости
            a(href="#").menu__item Техническая информация
            a(href="#").menu__item.menu__item_last Контакты
        .mobile-contacts
            .mobile-contacts__phone
                .mobile-contacts__tip Телефон\факс:
                .mobile-contacts__number (3412) 48-32-98
            .mobile-contacts__email
                .mobile-contacts__tip e-mail:
                .mobile-contacts__adress
                    a.mobile-contacts__email-link(href="#") bit@udol.ru
    .header__container
        .header__mobile-container
            .header__logo
                .logo
            .burger
                .burger__line

        .header__subcontainer
            .header__contacts
                .contacts
                    .contacts__phone
                        .contacts__tip Телефон\факс:
                        .contacts__number (3412) 48-32-98
                    .contacts__email
                        .contacts__tip e-mail:
                        .contacts__adress
                            a.contacts__email-link(href="#") bit@udol.ru
            .header__form
                form.login-and-search
                    .authorization
                        a.registration(href="#") Регистрация
                        .login.button
                            .login__arrow
                            .login__text Вход
                    input.search(type="text" placeholder="Поиск")
    .header__menu
        nav.menu
            a(href="#").menu__item.menu__item_first О компании
            a(href="#").menu__item Инженерное сопровождение
            a(href="#").menu__item Сертификаты
            a(href="#").menu__item Новости
            a(href="#").menu__item Техническая информация
            a(href="#").menu__item.menu__item_last Контакты